</body>

<!-- Footer -->
<footer>
    <div class="footer-content">
        <a href="/"><img class="logo" src="\Images\logo1.png" alt="Brand-logo Drift Rentals"></a>
        <p class="copyright">Copyright &copy; 2021 Drift Rental</p>
        <ul class="footer-link">
            <li><a href="/Developers">Developers</a></li>
            <li><a href="/Contact-Us">Contact Us</a></li>
        </ul>
    </div>
</footer>

<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</html>