<%- include('partials/userHeader') -%>

    <li class="nav-item">
        <a class="nav-link" href="<%= newUser %>"><i class="far fa-user"></i>
        </a>
    </li>
    </ul>
    </div>
    </div>
    </nav>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Choose a car now!</h1>
                <h1 class="fw-light">What are you waiting for?</h1>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col col-lg-4 col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <img src="/Images/i20.png" alt="i20">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                            href="/rentCar/i20">Rent
                                            Now</a></button>
                                </div>
                                <h5> i 20</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <img src="/Images/baleno.png" alt="baleno">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                            href="/rentCar/baleno">Rent Now</a></button>
                                </div>
                                <h5>Baleno</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <img src="/Images/kwid.png" alt="kwid">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                            href="/rentCar/kwid">Rent
                                            Now</a></button>
                                </div>
                                <h5>Kwid</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <img src="/Images/wagonr.png" alt="wagon_r">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                            href="/rentCar/wagonr">Rent Now</a></button>
                                </div>
                                <h5> WagonR</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <img src="/Images/dzire.png" alt="dzire">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                            href="/rentCar/dzire">Rent
                                            Now</a></button>
                                </div>
                                <h5>Dzire</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <img src="/Images/amaze.png" alt="amaze">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                            href="/rentCar/amaze">Rent
                                            Now</a></button>
                                </div>
                                <h5>Amaze</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <img src="/Images/creta.png" alt="creta">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                            href="/rentCar/creta">Rent
                                            Now</a></button>
                                </div>
                                <h5> Creta</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <img src="/Images/brezza.png" alt="brezza">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                            href="/rentCar/brezza">Rent
                                            Now</a></button>
                                </div>
                                <h5>Brezza</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <img src="/Images/verna.png" alt="verna">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                            href="/rentCar/verna">Rent
                                            Now</a></button>
                                </div>
                                <h5>Verna</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <img src="/Images/sonet.png" alt="sonet">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                            href="/rentCar/sonet">Rent
                                            Now</a></button>
                                </div>
                                <h5> Sonet</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <img src="/Images/audia6.png" alt="audi_a6">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                            href="/rentCar/audia6">Rent
                                            Now</a></button>
                                </div>
                                <h5>Audi A6</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <img src="/Images/venue.png" alt="venue">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                            href="/rentCar/venue">Rent
                                            Now</a></button>
                                </div>
                                <h5>Venue</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <img src="/Images/nexon.png" alt="nexon">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                            href="/rentCar/nexon">Rent
                                            Now</a></button>
                                </div>
                                <h5> Nexon</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <img src="/Images/tucson.png" alt="tucson">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                            href="/rentCar/tucson">Rent
                                            Now</a></button>
                                </div>
                                <h5>Tucson</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <img src="/Images/bmw_x1.png" alt="bmw_x1">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                            href="/rentCar/bmwx1">Rent
                                            Now</a></button>
                                </div>
                                <h5>BMW X1</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <img src="/Images/duster.png" alt="duster">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                            href="/rentCar/duster">Rent
                                            Now</a></button>
                                </div>
                                <h5> Duster</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <img src="/Images/audiq2.png" alt="audi_q2">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                            href="/rentCar/audiq2">Rent
                                            Now</a></button>
                                </div>
                                <h5>Audi Q2</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <img src="/Images/bmwx5.png" alt="bmw_x5">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                            href="/rentCar/bmwx5">Rent
                                            Now</a></button>
                                </div>
                                <h5>BMW X5</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <img src="/Images/xuv500.png" alt="xuv500">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                            href="/rentCar/xuv500">Rent
                                            Now</a></button>
                                </div>
                                <h5> XUV 500</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <img src="/Images/landrover.png" alt="landrover">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                            href="/rentCar/landrover">Rent
                                            Now</a></button>
                                </div>
                                <h5>LandRover</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <img src="/Images/rangerover.png" alt="rangerover">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                            href="/rentCar/rangerover">Rent
                                            Now</a></button>
                                </div>
                                <h5>RangeRover</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <img src="/Images/innova.png" alt="innova">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                            href="/rentCar/innova">Rent
                                            Now</a></button>
                                </div>
                                <h5>Innova</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <img src="/Images/ertiga.png" alt="ertiga">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                            href="/rentCar/ertiga">Rent
                                            Now</a></button>
                                </div>
                                <h5>Ertiga</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <img src="/Images/fortuner.png" alt="fortuner">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                            href="/rentCar/fortuner">Rent
                                            Now</a></button>
                                </div>
                                <h5>Fortuner</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include('partials/footer') -%>