<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Developers</title>
  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
  integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="/CSS/developers.css" />
</head>
<body>
  <section id="devTitle" style="padding: 3rem 0 2rem 0">
    
    <h1 class="dev-team"><a href="/"><img class="logo" src="\Images\logo1.png" alt="Brand-logo Drift Rentals" height="60px" style="border-radius: 10px;"></a>  DEV TEAM</h1>
  </section>

  <section id="webDev">
    <div class="container">
      <h2 class="team-title">WEB DEVELOPER</h2>
      <div class="row">
      <div class="col col-lg-6 team-dev team-member">
        <div class="card">
          <div class="image">
            <img src="/Images/shiva.jpg" />
          </div>
          <div class="details">
            <div class="center">
              <h1>SHIVAM BHARTI<br /><span>WEB DEVELOPER</span></h1>
              <p>SECOND YEAR <br />SOFTWARE ENGINEERING</p>
              <ul>
                <li>
                  <a
                    href="https://www.linkedin.com/in/shivam-bharti-054a8b1a0"
                    target="_parent"
                    ><i class="fab fa-linkedin" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.instagram.com/shivam_bharti214/"
                    target="_parent"
                    ><i class="fab fa-instagram" aria-hidden="true"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-lg-6 team-dev team-member">
        <div class="card">
          <div class="image">
            <img src="/Images/gauri.jpg" />
          </div>
          <div class="details">
            <div class="center">
              <h1>GAURAV SAINI<br /><span>WEB DEVELOPER</span></h1>
              <p>SECOND YEAR <br />SOFTWARE ENGINEERING</p>
              <ul>
                <li>
                  <a
                    href="https://www.linkedin.com/in/gaurav-saini-63b5a1195"
                    target="_parent"
                    ><i class="fab fa-linkedin" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.instagram.com/gaurav_saini_03/"
                    target="_parent"
                    ><i class="fab fa-instagram" aria-hidden="true"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <section id="webDesign">
    <div class="container">
      <h2 class="team-title">WEB DESIGN & CONTENT</h2>
    <div class="row">
      <div class="col col-lg-6 team-dev team-member">
        <div class="card">
          <div class="image">
            <img src="/Images/krish.jpg" />
          </div>
          <div class="details">
            <div class="center">
              <h1>KRISH SAINI<br /><span>WEB DESIGNER</span></h1>
              <p>SECOND YEAR <br />SOFTWARE ENGINEERING</p>
              <ul>
                <li>
                  <a
                    href="https://www.linkedin.com/in/krish-saini-023a38210"
                    target="_parent"
                    ><i class="fab fa-linkedin" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.instagram.com/saini_krish_2908/"
                    target="_parent"
                    ><i class="fab fa-instagram" aria-hidden="true"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-lg-6 team-dev team-member">
        <div class="card">
          <div class="image">
            <img src="/Images/rishabh.jpg" />
          </div>
          <div class="details">
            <div class="center">
              <h1>RISHABH PRAKASH<br /><span>WEB DESIGNER</span></h1>
              <p>SECOND YEAR <br />SOFTWARE ENGINEERING</p>
              <ul>
                <li>
                  <a
                    href="https://www.linkedin.com/in/rishabh-prakash-840173191/"
                    target="_parent"
                    ><i class="fab fa-linkedin" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.instagram.com/_dark_priest/"
                    target="_parent"
                    ><i class="fab fa-instagram" aria-hidden="true"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>
</body>
</html>



