<%- include('partials/userHeader') -%>

    <li class="nav-item">
        <a class="nav-link" href="<%= newUser %>"><i class="far fa-user"></i>
        </a>
    </li>
    </ul>
    </div>
    </div>
    </nav>
    <!-- Heading -->
    <div class="heading">
        <a href="/Choose-Car"><button class="button btn btn-lg btn-outline-light">RENT A CAR NOW!</button></a>
    </div>

    <!-- About Us -->
    <div id="aboutUs">
        <h2>About Us</h2>
        <p>We have the Car keys for you to enjoy journey as you drive away with your Family & Friends . Choice Of more
            than 20+ car models and rent by the day, week or month. Enjoy Drive to the roads in the Cars you Enjoy from
            "Drift Rentals", India's leading self drive cars rental service. Get us in your neighborhood with our fleet spread
            over in multi cities. So whenever you Travel, "Drift Rentals" will always be near with 100+ pick-up locations.
            Now Be Ready to drive yourself to your next adventure journey in anywhere in India.</p>
    </div>

    <!-- Features -->
    <div class="row" id="Features">
        <div class="features col-lg-4 col-md-6">
            <h2>Any Locations Rent</h2>
            <p>We provide car rental for any location all over India.</p>
        </div>
        <div class="features col-lg-4 col-md-6">
            <h2>Secure and Safer Rides</h2>
            <p>Know exactly what you’re paying us for</p>
        </div>
        <div class="features col-lg-4 col-md-6">
            <h2>Price Match Guarantee</h2>
            <p>Found the same deal for less? We’ll match the price.</p>
        </div>
        <div class="features col-lg-4 col-md-6">
            <h2>Flexible Rentals</h2>
            <p>Cancel or change bookings for free up to 48 hours before pick-up.</p>
        </div>
        <div class="features col-lg-4 col-md-6">
            <h2>No Hidden Cost</h2>
            <p> Free to book with no other extra charges and costs.</p>
        </div>
        <div class="features col-lg-4 col-md-6">
            <h2>Online 24 / 7 Support</h2>
            <p>We provide 24 /7 online support for own rental customers.</p>
        </div>
    </div>

    <!-- Testimonials -->
    <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="heading-wrap">
            <div class="title">
                <h1 class="review-title">Reviews by our Clients</h1>
            </div>
        </div>
        <hr id="hr">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="review text-start">
                        <p>It was incredibly delightful to use Drift Rentals rental system, As all procedure being
                            online it was
                            truly bother free understanding. great help please prop it up.</p>
                        <img class="testimonial-image" src="/Images/male-user-icon.png" alt="profile"> <em
                            class="client-name">~ Pawan</em>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="review">
                        <p>It was unimaginable joy using the services of Drift Rentals, As all method being on the web
                            it was really
                            trouble free. Amazing experience</p>
                        <img class="testimonial-image" src="/Images/male-user-icon.png" alt="profile"> <em
                            class="client-name">~ Shubham</em>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="review">
                        <p>I have hired a vehicle from Drift Rentals in Delhi and got great quality vehicle at a
                            sensible value! Served our excursion plans well and very comforatble for the whole family!</p>
                        <img class="testimonial-image" src="/Images/male-user-icon.png" alt="profile"> <em
                            class="client-name">~ Paras</em>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="review">
                        <p>I hired an i20 from Drift Rentals to go to jaipur. The car was pretty good in condition and
                            we enjoyed
                            the ride.</p>
                        <img class="testimonial-image" src="/Images/female-user-icon.png" alt="profile"> <em
                            class="client-name">~ Nisha</em>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>


    <%- include('partials/footer') -%>